absl-py==2.0.0
aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==23.1.0
beautifulsoup4==4.12.2
blinker==1.8.2
certifi==2023.7.22
chardet==4.0.0
charset-normalizer==3.2.0
click==8.1.7
colorama==0.4.6
discord-ext-typed-commands==1.0.3
discord.py==1.7.3
Flask==3.0.3
gunicorn==23.0.0
idna==3.4
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
multidict==6.0.4
numpy==1.26.0
ortools==9.7.2996
packaging==24.1
pandas==2.1.1
protobuf==4.24.4
pygame==2.5.2
Pygbutton==0.9.0
python-dateutil==2.8.2
pytz==2023.3.post1
requests==2.31.0
six==1.16.0
soupsieve==2.5
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.4
Werkzeug==3.0.4
yarl==1.9.2
